
@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap%27);



*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    background-color: #f3f7f8;

}
p{
    margin: 0;
    padding: 0;
}


/* ----------------------------------------------------------------- */
/* Header Part */

header {
    background-color: #eee;
    display:  flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0 80px;
    box-shadow: 0 5px 15px rgb(45, 221, 83);
    position: sticky;
    top: 0;
    left: 0;

}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:  red; */
}
#navbar li {
    list-style: none;
    padding:  0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: green;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 35%;
    height: 2px;
    background: green;
    position: absolute;
    bottom: -4px;
    left: 20px;
}



/* ----------------------------------------------------------------- */
/* BackGround Banner */

.section-banner{
    /* border: 2px solid black; */
    box-sizing: border-box;
    background-image: url('image/background.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    padding: 80px 80px;
    color: #fff;
    /* padding-bottom: 30px; */
}
.section-banner h2{
    font-size:70px;
    text-shadow: 2px 2px 5px  rgb(45, 221, 83);
    padding: 10px;
}
.section-banner h4{
    font-size:50px;
    text-shadow: 2px 2px 5px  rgb(45, 221, 83);
    padding: 10px;
}
/* ----------------------------------------------------------------- */
/*-------------------------------------- Start Image Slider Section------------------------------ */

.banner-container{
    width: 100%;
    /* height: 400px; */
    /* background-color: red; */
    /* position: relative; */

}

.banner-container .banner-row{
    position: relative;
    width: 100%;
    height: 500px; 
    /* background-color: red; */
    /* box-shadow: 0 0 5px gray; */
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;

}
.imageContainer{
    display: none;
    /* position: absolute; */
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    transition: 1s;
}

.imageContainer img{
    /* background-color: red; */
    width: 100%;
    height: 100%;
}
.imageContainer .image-text{
    position: absolute;
    top: 0;
    margin: 50px 0 0 50px;
    font-size: 45px;
    font-weight: 700;
    color: white;
}
/* -------------------------------- */


.prev, .next{
    position: absolute;
    cursor: pointer;
    top: 50%;
    
    width: auto;
    margin-top: -22px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.6s ease;
    padding: 16px;
    border-radius: 0 5px 5px 0;
    border: 1px solid rgb(0, 0, 0);
    user-select: none;
}
.next{
    right: 0;
    border-radius:  5px 0 0 5px ;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

  /* ------------ */

.dots{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    background-color: #bbb;
    margin: 0 2px;
    transition: all 0.6s ease;
    user-select: none;
}
.dots .active, .dot:hover {
    background-color: #717171;
}
/*-------------------------------------- End Image Slider Section------------------------------ */

/*-------------------------------------- Start Request Section------------------------------ */
.request-section{
    padding:40px 0 40px 0 ;
}
.request-section .container{
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #d6cece;
    background-color: #fff;

}
.all-heading {
    font-size: 25px;
    font-weight: 500;
    /* position: relative; */
    text-align: center;
    padding: 0 0 20px 0; 
}
/* .all-heading::before {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;

    width: 100px;
    background-color: rgb(110, 238, 138);
} */

.all-heading::after {
    background: rgb(110, 238, 138);
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 10px;
}


form .card-details {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* padding: 15px; */

}

form .card-details .card-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* padding: 15px; */
    
}

.card-details .card-box .details {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;

}
.card-details .card-box input {
    /* background-color: red; */
    height: 45px;
    width: 100%;
    padding-left: 15px;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid#ccc;
    transition: all 0.3s ease;

}
.card-details .card-box input:focus,
.card-details .card-box input:valid {
    border-color: rgb(110, 238, 138);
    box-shadow: 0 0 5px rgb(110, 238, 138);

}
form button{
    padding: 10px;
    margin-top: 10px;
    height: 100%;
    width: auto;
    outline: none;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: rgb(110, 238, 138);
    cursor: pointer;

}
form button:hover {
    background-color: green;
    color: white;
}
.form-side-image img{
    width: 100%;    
}
/*-------------------------------------- End Request Section------------------------------ */

/*-------------------------------------- Start How we works------------------------------ */
.hover-box{
    border: 1px solid #d6cece;
    border-radius: 5px;
    transition:  0.7s;
    box-sizing: border-box;
    margin: auto;
    /* height: 500px; */
    object-fit: contain;
}

.hover-box:hover{
    box-shadow: 0 0 10px #08bd4d;
    transform: scale(1.01);
}
.heading,.row p {
    margin-bottom:20px ;
    text-align: center;
}
.how-we-works h2{
    text-align: center;
    color: #50934a;
    font-size: 30px;
    font-weight: 700;
}
.hww-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2px;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
}
.hww-box img{
    border-radius: 5px ;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    object-fit: contain;
}
.hww-box h4{
    padding-bottom: 10px;
    color: #50934a;

}
.hww-box p{
    padding-bottom: 0;
    color: black;
    font-weight: 500;

}
/*-------------------------------------- End How we works------------------------------ */

/*-------------------------------------- Start Why OmScrap?------------------------------ */
.why-we{
    /* border: 1px solid black; */
    margin-top: 15px;
    /* #183F08 */
    margin-bottom: 10px;
}
.heading-all{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #50934a;
    font-size: 30px;
    font-weight: 700;
}
.ww-box{
    width: 180px;
    height: 100%;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    /* padding-bottom: 0; */
    box-sizing: border-box;
    border-radius: 5px;
    
}
.why-we .img-box{
    height: 70%;
}
.why-we .img-footer{
    height: 30%;
    
}
.why-we img{
    background-color: #fff;
    border: 1px solid rgb(211, 197, 197);
    padding: 15px;
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform .8s;

}
.why-we img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #71e961;
}
.why-we p{
    width: 100%;
    /* top: 0; */
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}
/*-------------------------------------- End Why OmScrap?------------------------------ */

/*-------------------------------------- Start Footer------------------------------ */

#footer-section{
    width: 100%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    
}

.footer-row{
    width: 100%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: #555050;
}
.footer-col{
    width: 25%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 50px;
}
.footer-col h4{
    font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::after{
    content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #43db71;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-row ul{
    list-style: none;
}
.footer-col ul li a{
    font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	display: block;
	transition: all 0.3s ease;
    margin-bottom: 5px;
}
.footer-col ul li a:hover{
	padding-left: 8px;
	color: #43db71;
}

.footer-col .footer-social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	transition: all 0.3s ease;
    color: #eee;
    background-color: green;
}
.footer-col .footer-social-links a:hover{
    color: #020000;
    transform: scale(1.1);
    box-shadow: 0 0 10px #71e961;
    background-color: #43db71;
}
.footer-col .footer-address{
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
}
.footer-col .footer-phone{
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    
}
.footer-col .footer-phone a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    
}
.footer-col .footer-logo{
    width: 100%;
    height: 50%;
    padding-right: 50px;
    margin-bottom: 0;

    
}
.hello{
    display: flex;
    flex-direction: column;
}
.footer-recycle{
    width: 100%;
    height: 30%;
    padding-right: 50px;
    margin-top: 0;
}
.footer-col .footer-logo img{
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 10px 10px 0 0 ;


}
.footer-col .footer-recycle img{
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius:0 0 10px 10px;


}
/*-------------------------------------- End Footer------------------------------ */

