
@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap%27);



*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}



/* ----------------------------------------------------------------- */
/* Header Part */

header {
    background-color: #eee;
    display:  flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0 80px;
    box-shadow: 0 5px 15px rgb(45, 221, 83);
    position: sticky;
    top: 0;
    left: 0;

}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:  red; */
}
#navbar li {
    list-style: none;
    padding:  0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: green;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 35%;
    height: 2px;
    background: green;
    position: absolute;
    bottom: -4px;
    left: 20px;
}



/* ----------------------------------------------------------------- */
/* BackGround Banner */

.backgroundimg {
    background-image: url("image/background.jpg");
    height: 90vh;
    /* height: 900px; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 80px;
    font-size: 50px;
    color: white;
    box-sizing: border-box;

    /* object-fit: cover; */
}
.backgroundimg h2 {
    margin: 0 0 10px 0;
}



/* ----------------------------------------------------------------- */
/* Form --> Pickup Request */


.formrequestpage {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(110, 238, 138); */
    background-color: #FFFFFF;
    padding: 10px;
    box-sizing: border-box;


}
.container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0 0 15px black;

}

.container .heading {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0; 
}

.container .heading::before {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(110, 238, 138);

}



.container form .card-details {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* padding: 15px; */

}

form .card-details .card-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* padding: 15px; */
    
}

.card-details .card-box .details {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;

}

.card-details .card-box input {
    /* background-color: red; */
    height: 45px;
    width: 100%;
    padding-left: 15px;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid#ccc;
    transition: all 0.3s ease;

}
.card-details .card-box input:focus,
.card-details .card-box input:valid {
    border-color: rgb(110, 238, 138);
    box-shadow: 0 0 5px rgb(110, 238, 138);

}

/* .container form .button {
    background-color: red;
    padding: 10px;
} */
.container form .button input[type="submit"]{
    padding: 10px;
    margin-top: 10px;
    height: 100%;
    width: auto;
    outline: none;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: rgb(110, 238, 138);
    cursor: pointer;

}
.container form .button input[type="submit"]:hover {
    background-color: green;
    color: white;

}

/* ----------------------------------------------------------------- */
/* how-we-work section */

.how-we-work {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 238, 138);
    /* background-color: #FFFFFF; */
    box-sizing: border-box;
    /* display: flex; */
    flex-wrap: wrap;

}
.bravo {
    width: 420px;
    height: 420px;
    box-sizing: border-box;
    border: 2px solid black;
    margin: 0 auto;
    

    
    
}
